rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura pública para login por CPF ou Telefone
    match /cpfs/{cpf} {
      allow read, write: if true;
    }
    match /telefones/{phone} {
      allow read, write: if true;
    }
    match /phones/{phone} {
      allow read, write: if true;
    }

    // Permite acesso aos dados da carteira de clientes, perfil, dashboard e open finance
    match /clientes/{clientId}/{document=**} {
      allow read, write: if true;
    }

    // Regra global de segurança para todas as coleções
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
