rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura e escrita para o próprio cliente autenticado
    match /clientes/{clientId}/{document=**} {
      allow read, write: if request.auth != null && (request.auth.uid == clientId || request.auth.token.email != null);
    }
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
